Adam Appleby <adam.appleby@hotmail.co.uk> <adam.appleby@hotmail.co.uk>
Adam Jeliński <ajelinski@antmicro.com> <ajelinski@antmicro.com>
Adam Jeliński <ajelinski@antmicro.com> <59468166+ajelinski@users.noreply.github.com>
Adrian Byszuk <adrian.byszuk@gmail.com> <adrian.byszuk@gmail.com>
Alessandro Comodi <acomodi@antmicro.com> <acomodi@antmicro.com>
Alessandro Comodi <acomodi@antmicro.com> <44773360+acomodi@users.noreply.github.com>
Alfred M. Szmidt <ams@gnu.org> <ams@gnu.org>
Andreas Ehliar <ehliar@isy.liu.se> <ehliar@isy.liu.se>
Andreas Wenzel <Andreas.Wenzel@hs-wismar.de> <Andreas.Wenzel@hs-wismar.de>
Anton Blanchard <anton@ozlabs.org> <anton@ozlabs.org>
Anton Blanchard <anton@ozlabs.org> <anton@linux.ibm.com>
Ben Reynwar <ben@reynwar.net> <ben@reynwar.net>
Bradley J Harden <bradleyharden@gmail.com> <bradleyharden@gmail.com>
Bradley J Harden <bradleyharden@gmail.com> <hardebj1@jhuapl.edu>
Bradley J Harden <bradleyharden@gmail.com> <hardebj1@ses-sri-srv3.jhuapl.edu>
Bradley J Harden <bradleyharden@gmail.com> <Bradley.Harden@jhuapl.edu>
Brian Drummond <brian@shapes.demon.co.uk> <brian@shapes.demon.co.uk>
Brian Padalino <bpadalino@gmail.com> <bpadalino@gmail.com>
Carlos Venegas Arrabé <carlos@magnitude.es> <carlos@magnitude.es>
Carlos Venegas Arrabé <carlos@magnitude.es> <charliva@gmail.com>
Carlos Venegas Arrabé <carlos@magnitude.es> <6904865+cavearr@users.noreply.github.com>
Chris Higgs <chris.higgs@potentialventures.com> <chris.higgs@potentialventures.com>
Chris Higgs <chris.higgs@potentialventures.com> <chris@localhost.localdomain>
Chris Higgs <chris.higgs@potentialventures.com> <chiggs.99@gmail.com>
Chris Higgs <chris.higgs@potentialventures.com> <chiggs@localhost.localdomain>
Chris Higgs <chris.higgs@potentialventures.com> <chris.h@nanospeed.co.uk>
Chris Higgs <chris.higgs@potentialventures.com> <chris.higgs@nanospeed.co.uk>
Christian Cornelssen <ccorn@1tein.de> <ccorn@1tein.de>
Christos Gentsos <christos.gentsos@cern.ch> <christos.gentsos@cern.ch>
Ciro Santilli <ciro.santilli@gmail.com> <ciro.santilli@gmail.com>
Claire Xenia Wolf <claire@clairexen.net> <claire@clairexen.net>
Claire Xenia Wolf <claire@clairexen.net> <claire@symbioticeda.com>
Claire Xenia Wolf <claire@clairexen.net> <clifford@clifford.at>
Claire Xenia Wolf <claire@clairexen.net> <claire@clairexen.net>
Claire Xenia Wolf <claire@clairexen.net> <cliffordvienna@gmail.com>
Colin Marquardt <github@marquardt-home.de> <github@marquardt-home.de>
gatecat <gatecat@ds0.me> <gatecat@ds0.me>
gatecat <gatecat@ds0.me> <dave@ds0.me>
gatecat <gatecat@ds0.me> <davey1576@gmail.com>
Gordon McGregor <email@gordonmcgregor.net> <email@gordonmcgregor.net>
Gordon McGregor <email@gordonmcgregor.net> <gordon.mcgregor@nitero.com>
Gordon McGregor <email@gordonmcgregor.net> <gordon.mcgregor@verilab.com>
David Stadelmann <david.stadelmann@gmail.com> <david.stadelmann@gmail.com>
David Stadelmann <david.stadelmann@gmail.com> <david.stadelmann@scs.ch>
dependabot-preview[bot] <dependabot-preview[bot]@users.noreply.github.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>
dependabot-preview[bot] <dependabot-preview[bot]@users.noreply.github.com> <dependabot-preview[bot]@users.noreply.github.com>
dependabot[bot] <support@dependabot.com> <49699333+dependabot[bot]@users.noreply.github.com>
dependabot[bot] <support@dependabot.com> <support@dependabot.com>
Edu Garcia <28616+Arcnor@users.noreply.github.com> <28616+Arcnor@users.noreply.github.com>
elgorwi <elgorwi@hotmail.com> <elgorwi@hotmail.com>
elgorwi <elgorwi@hotmail.com> <elgorwi@users.noreply.github.com>
Emmanuel Mogenet <emogenet@gmail.com> <emogenet@gmail.com>
Emanuel Schmid <emanuel.schmid@scs.ch> <emanuel.schmid@scs.ch>
Fabien Marteau <mail@fabienm.eu> <mail@fabienm.eu>
Fabien Marteau <mail@fabienm.eu> <fabien.marteau@armadeus.com>
Felix Nieuwenhuizen <felix@tdlrali.com> <felix@tdlrali.com>
Glen Nicholls <dkillers303@gmail.com> <dkillers303@gmail.com>
Glen Nicholls <dkillers303@gmail.com> <Glen.Nicholls@kratosdefense.com>
Jim Lewis <jim@synthworks.com> <jim@synthworks.com>
Jon Klapel <klapel@tethers.com> <klapel@tethers.com>
Jonas Baggett <jonasb@tranquille.ch> <jonasb@tranquille.ch>
Jonsba <jonasb@tranquille.ch> <jonasb@tranquille.ch>
Josh Smith <joshrsmith@gmail.com> <joshrsmith@gmail.com>
Juan Gonzalez-Gomez <juan@iearobotics.com> <juan@iearobotics.com>
Juan Gonzalez-Gomez <juan@iearobotics.com> <obijuan.cube@gmail.com>
Juan Gonzalez-Gomez <juan@iearobotics.com> <obijuan@Obijuans-iMac-Pro.local>
Kaleb Barrett <dev.ktbarrett@gmail.com> <dev.ktbarrett@gmail.com>
Kaleb Barrett <dev.ktbarrett@gmail.com> <ktbarrett.connectflour@gmail.com>
Kamil Rakoczy <krakoczy@antmicro.com> <krakoczy@antmicro.com>
Kamil Rakoczy <krakoczy@antmicro.com> <grey277@wp.pl>
Kevin Kessels <kevinkessels@gmail.com> <kevinkessels@gmail.com>
Kevin Kessels <kevinkessels@gmail.com> <kevin.kessels@oce.com>
Kevin Murray <k.murray@utoronto.ca> <k.murray@utoronto.ca>
Kevin Murray <k.murray@utoronto.ca> <k.murray@mail.utoronto.ca>
Kevin Murray <k.murray@utoronto.ca> <kevinemurray@gmail.com>
Kevin Murray <k.murray@utoronto.ca> <kmurray@users.noreply.github.com>
Krzysztof Biegański <kbieganski@antmicro.com> <kbieganski@antmicro.com>
Krzysztof Biegański <kbieganski@antmicro.com> <krzysztof@biegan.ski>
Lars Asplund <lars.anders.asplund@gmail.com> <lars.anders.asplund@gmail.com>
Lars Asplund <lars.anders.asplund@gmail.com> <lars.asplund.external@veoneer.com>
Lars Asplund <lars.anders.asplund@gmail.com> <lars.asplund@autoliv.com>
Ludvig Vidlid <ludli505@gmail.com> <ludli505@gmail.com>
Ludvig Vidlid <ludli505@gmail.com> <ludvig.vidlid@autoliv.com>
Lukasz Dalek <ldalek@antmicro.com> <ldalek@antmicro.com>
Lukasz Dalek <ldalek@antmicro.com> <48219411+ldalek-antmicro@users.noreply.github.com>
Lukas Vik <lukas.vik@autoliv.com> <lukas.vik@autoliv.com>
Lukas Vik <lukas.vik@autoliv.com> <2767848-LukasVik@users.noreply.gitlab.com>
Lukas Vik <lukas.vik@autoliv.com> <10241915+LukasVik@users.noreply.github.com>
Lukas Vik <lukas.vik@autoliv.com> <lukas.vik.biz@gmail.com>
Luke Darnell <luke.darnell@broadcom.com> <7090851+lukedarnell@users.noreply.github.com>
Luke Darnell <luke.darnell@broadcom.com> <luke.darnell@broadcom.com>
Luke Darnell <luke.darnell@broadcom.com> <luke@broadcom.com>
Luke Darnell <luke.darnell@broadcom.com> <lukedarnell@hotmail.com>
Maciej Dudek <mdudek@antmicro.com> <mdudek@antmicro.com>
Maciej Dudek <mdudek@antmicro.com> <mdudek@internships.antmicro.com>
Marek Cieplucha <mciepluc@gmail.com> <mciepluc@gmail.com>
Marek Cieplucha <mciepluc@gmail.com> <m.cieplucha@imio.pw.edu.pl>
Marius Hegele <marius.hegele@ibm.com> <marius.hegele@ibm.com>
Marius Hegele <marius.hegele@ibm.com> <32207204+mariushegele@users.noreply.github.com>
Mariusz Glebocki <mglebocki@antmicro.com> <mglebocki@antmicro.com>
Mariusz Glebocki <mglebocki@antmicro.com> <mglb@arccos-1.net>
Marlon James <marlon.james@gmail.com> <marlon.james@gmail.com>
Marlon James <marlon.james@gmail.com> <marlon.james@garmin.com>
Marlon James <marlon.james@gmail.com> <Marlon.James@garmin.com>
Marlon James <marlon.james@gmail.com> <47790688+garmin-mjames@users.noreply.github.com>
Matt Venn <matt@mattvenn.net> <matt@mattvenn.net>
Miodrag Milanović <mmicko@gmail.com> <mmicko@gmail.com>
Olaf van den Berg <olaf.vandenberg@siemens.com> <olaf.vandenberg@siemens.com>
Olof Kindgren <olof.kindgren@gmail.com> <olof.kindgren@gmail.com>
Olof Kindgren <olof.kindgren@gmail.com> <olof@autobahn.(none)>
Olof Kindgren <olof.kindgren@gmail.com> <olof@opencores.org>
Olof Kraigher <olof.kraigher@gmail.com> <olof.kraigher@gmail.com>
Olof Kraigher <olof.kraigher@gmail.com> <olof.kraigher@autoliv.com>
Olof Kraigher <olof.kraigher@gmail.com> <olof.kraigher@AES-PC0138.eu.autoliv.int>
Ondrej Ille <ondrej.ille@gmail.com> <ondrej.ille@gmail.com>
Pascal Cotret <pascal.cotret@gmail.com> <pascal.cotret@gmail.com>
Patrick Lehmann <Paebbels@gmail.com> <Patrick.Lehmann@plc2.de>
Patrick Lehmann <Paebbels@gmail.com> <Patrick.Lehmann@tu-dresden.de>
Patrick Lehmann <Paebbels@gmail.com> <Paebbels@gmail.com>
Pepijn de Vos <pepijndevos@gmail.com> <pepijndevos@gmail.com>
Pepijn de Vos <pepijndevos@gmail.com> <pepijn@vps.pepijndevos.nl>
Philipp Wagner <mail@philipp-wagner.com> <mail@philipp-wagner.com>
Philipp Wagner <mail@philipp-wagner.com> <philipp.wagner@tum.de>
Philipp Wagner <mail@philipp-wagner.com> <phw@lowrisc.org>
Rafal Kapuscik <rkapuscik@antmicro.com> <rkapuscik@antmicro.com>
Rafal Kapuscik <rkapuscik@antmicro.com> <54976862+rkapuscik@users.noreply.github.com>
Ray Salemi <ray@raysalemi.com> <ray@raysalemi.com>
Ray Salemi <ray@raysalemi.com> <ray@bostonlightpress.com>
Robert Winkler <rwinkler@antmicro.com> <rwinkler@antmicro.com>
Robert Winkler <rwinkler@antmicro.com> <robertwinkler147@gmail.com>
Robert Winkler <rwinkler@antmicro.com> <rwinkler@internships.antmicro.com>
Rodrigo A. Melo <rodrigomelo9@gmail.com> <rodrigomelo9@gmail.com>
Rodrigo A. Melo <rodrigomelo9@gmail.com> <rmelo@inti.gob.ar>
Ryszard Różak <rrozak@antmicro.com> <rrozak@antmicro.com>
Slawomir Siluk <slaweksiluk@gazeta.pl> <slaweksiluk@gazeta.pl>
Sigve Tjora <tjora@users.noreply.github.com> <tjora@users.noreply.github.com>
Sigve Tjora <tjora@users.noreply.github.com> <tjora@users.noreplay.github.com>
Stephan Nolting <stnolting@gmail.com> <stnolting@gmail.com>
Stefan Wallentowitz <stefan@wallentowitz.de> <stefan@wallentowitz.de>
Stefan Wallentowitz <stefan@wallentowitz.de> <stefan.wallentowitz@gi-de.com>
Stefan Wallentowitz <stefan@wallentowitz.de> <stefan.wallentowitz@hm.edu>
Stefan Wallentowitz <stefan@wallentowitz.de> <stefan.wallentowitz@tum.de>
Stuart Hodgson <stuart.hodgson@potentialventures.com> <stuart.hodgson@potentialventures.com>
Stuart Hodgson <stuart.hodgson@potentialventures.com> <staurt.hodgson@potentialventures.com>
SymbiFlow[bot] <foss-fpga-tools@google.com> <foss-fpga-tools@google.com>
SymbiFlow[bot] <foss-fpga-tools@google.com> <foss-fpga-tools-bot+kokoro@google.com>
SymbiFlow[bot] <foss-fpga-tools@google.com> <foss-fpga-tools-bot@google.com>
Symbiflow[bot] <foss-fpga-tools@google.com> <foss-fpga-tools-bot+kokoro@google.com>
Tim Ansell <me@mith.ro> <me@mith.ro>
Tim Ansell <me@mith.ro> <mithro@mithis.com>
Tim Ansell <me@mith.ro> <tansell@google.com>
Tim Callahan <tcal@google.com> <tcal@google.com>
Tim Callahan <tcal@google.com> <63030309+tcal-x@users.noreply.github.com>
Tomasz Gorochowik <tgorochowik@antmicro.com> <tgorochowik@antmicro.com>
Tomasz Gorochowik <tgorochowik@antmicro.com> <t@gorochowik.com>
Tomasz Gorochowik <tgorochowik@antmicro.com> <tgorochowik@gmail.com>
Tomasz Hemperek <themperek@gmail.com> <themperek@gmail.com>
Tomasz Hemperek <themperek@gmail.com> <hemperek@physik.uni-bonn.de>
Tomasz Hemperek <themperek@gmail.com> <themperek@users.noreply.github.com>
Torsten Maehne <Torsten.Maehne@gmx.de> <Torsten.Maehne@gmx.de>
Torsten Meissner <programming@goodcleanfun.de> <programming@goodcleanfun.de>
Tristan Gingold <tgingold@free.fr> <tgingold@free.fr>
Tristan Gingold <tgingold@free.fr> <gingold@b72b5c32-5f01-0410-b925-b5c7b92870f7>
Tristan Gingold <tgingold@free.fr> <gingold@adacore.com>
Tristan Gingold <tgingold@free.fr> <tgingold@users.noreply.github.com>
Tudor Timi <tudor.timi@gmail.com> <tudor.timi@gmail.com>
Tudor Timi <tudor.timi@gmail.com> <tudortimi@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <unai.martinezcorral@ehu.eus>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <unai.martinezcorral@ehu.es>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <38422348+umarcor@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <eine@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <6628437+eine@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <1138-4EB@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <unai.martinezcorral@manchester.ac.uk>
Vaughn Betz <vaughnbetz@gmail.com> <vaughnbetz@gmail.com>
Wouter van Verre <woutervanverre@gmail.com> <woutervanverre@gmail.com>
Wouter van Verre <woutervanverre@gmail.com> <vvvverre@users.noreply.github.com>
Wojciech Tatarski <wtatarski@antmicro.com> <wtatarski@antmicro.com>
Wojciech Tatarski <wtatarski@antmicro.com> <49695277+wtatarski@users.noreply.github.com>
Xiretza <xiretza@xiretza.xyz> <xiretza@xiretza.xyz>
Xiretza <xiretza@xiretza.xyz> <Xiretza@users.noreply.github.com>
zipotron <zipotron@gmail.com> <zipotron@gmail.com>
zipotron <zipotron@gmail.com> <zipotron@localhost.localdomain>
