Adam Appleby <adam.appleby@hotmail.co.uk> <adam.appleby@hotmail.co.uk>
Adrian Byszuk <adrian.byszuk@gmail.com> <adrian.byszuk@gmail.com>
Alfred M. Szmidt <ams@gnu.org> <ams@gnu.org>
Andreas Ehliar <ehliar@isy.liu.se> <ehliar@isy.liu.se>
Andreas Wenzel <Andreas.Wenzel@hs-wismar.de> <Andreas.Wenzel@hs-wismar.de>
Anton Blanchard <anton@ozlabs.org> <anton@ozlabs.org>
Anton Blanchard <anton@ozlabs.org> <anton@linux.ibm.com>
Ben Reynwar <ben@reynwar.net> <ben@reynwar.net>
Bradley J Harden <bradleyharden@gmail.com> <bradleyharden@gmail.com>
Bradley J Harden <bradleyharden@gmail.com> <hardebj1@jhuapl.edu>
Bradley J Harden <bradleyharden@gmail.com> <hardebj1@ses-sri-srv3.jhuapl.edu>
Bradley J Harden <bradleyharden@gmail.com> <Bradley.Harden@jhuapl.edu>
Brian Drummond <brian@shapes.demon.co.uk> <brian@shapes.demon.co.uk>
Brian Padalino <bpadalino@gmail.com> <bpadalino@gmail.com>
Christian Cornelssen <ccorn@1tein.de> <ccorn@1tein.de>
Christos Gentsos <christos.gentsos@cern.ch> <christos.gentsos@cern.ch>
Ciro Santilli <ciro.santilli@gmail.com> <ciro.santilli@gmail.com>
Colin Marquardt <github@marquardt-home.de> <github@marquardt-home.de>
David Stadelmann <david.stadelmann@gmail.com> <david.stadelmann@gmail.com>
David Stadelmann <david.stadelmann@gmail.com> <david.stadelmann@scs.ch>
Edu Garcia <28616+Arcnor@users.noreply.github.com> <28616+Arcnor@users.noreply.github.com>
Emmanuel Mogenet <emogenet@gmail.com> <emogenet@gmail.com>
Emanuel Schmid <emanuel.schmid@scs.ch> <emanuel.schmid@scs.ch>
Felix Nieuwenhuizen <felix@tdlrali.com> <felix@tdlrali.com>
Glen Nicholls <dkillers303@gmail.com> <dkillers303@gmail.com>
Glen Nicholls <dkillers303@gmail.com> <Glen.Nicholls@kratosdefense.com>
Jim Lewis <jim@synthworks.com> <jim@synthworks.com>
Jon Klapel <klapel@tethers.com> <klapel@tethers.com>
Jonas Baggett <jonasb@tranquille.ch> <jonasb@tranquille.ch>
Jonsba <jonasb@tranquille.ch> <jonasb@tranquille.ch>
Josh Smith <joshrsmith@gmail.com> <joshrsmith@gmail.com>
Juan Gonzalez-Gomez <juan@iearobotics.com> <juan@iearobotics.com>
Kaleb Barrett <dev.ktbarrett@gmail.com> <dev.ktbarrett@gmail.com>
Kevin Kessels <kevinkessels@gmail.com> <kevinkessels@gmail.com>
Kevin Kessels <kevinkessels@gmail.com> <kevin.kessels@oce.com>
Lars Asplund <lars.anders.asplund@gmail.com> <lars.anders.asplund@gmail.com>
Lars Asplund <lars.anders.asplund@gmail.com> <lars.asplund.external@veoneer.com>
Lars Asplund <lars.anders.asplund@gmail.com> <lars.asplund@autoliv.com>
Ludvig Vidlid <ludli505@gmail.com> <ludli505@gmail.com>
Ludvig Vidlid <ludli505@gmail.com> <ludvig.vidlid@autoliv.com>
Lukas Vik <lukas.vik@autoliv.com> <lukas.vik@autoliv.com>
Lukas Vik <lukas.vik@autoliv.com> <2767848-LukasVik@users.noreply.gitlab.com>
Lukas Vik <lukas.vik@autoliv.com> <10241915+LukasVik@users.noreply.github.com>
Marlon James <marlon.james@gmail.com> <marlon.james@gmail.com>
Marlon James <marlon.james@gmail.com> <marlon.james@garmin.com>
Olaf van den Berg <olaf.vandenberg@siemens.com> <olaf.vandenberg@siemens.com>
Olof Kraigher <olof.kraigher@gmail.com> <olof.kraigher@gmail.com>
Olof Kraigher <olof.kraigher@gmail.com> <olof.kraigher@autoliv.com>
Ondrej Ille <ondrej.ille@gmail.com> <ondrej.ille@gmail.com>
Pascal Cotret <pascal.cotret@gmail.com> <pascal.cotret@gmail.com>
Patrick Lehmann <Paebbels@gmail.com> <Patrick.Lehmann@plc2.de>
Patrick Lehmann <Paebbels@gmail.com> <Patrick.Lehmann@tu-dresden.de>
Patrick Lehmann <Paebbels@gmail.com> <Paebbels@gmail.com>
Pepijn de Vos <pepijndevos@gmail.com> <pepijndevos@gmail.com>
Rodrigo A. Melo <rodrigomelo9@gmail.com> <rodrigomelo9@gmail.com>
Rodrigo A. Melo <rodrigomelo9@gmail.com> <rmelo@inti.gob.ar>
Slawomir Siluk <slaweksiluk@gazeta.pl> <slaweksiluk@gazeta.pl>
Stephan Nolting <stnolting@gmail.com> <stnolting@gmail.com>
Torsten Maehne <Torsten.Maehne@gmx.de> <Torsten.Maehne@gmx.de>
Torsten Meissner <programming@goodcleanfun.de> <programming@goodcleanfun.de>
Tristan Gingold <tgingold@free.fr> <tgingold@free.fr>
Tristan Gingold <tgingold@free.fr> gingold <gingold@b72b5c32-5f01-0410-b925-b5c7b92870f7>
Tristan Gingold <tgingold@free.fr> <gingold@adacore.com>
Tristan Gingold <tgingold@free.fr> <tgingold@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <unai.martinezcorral@ehu.eus>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <unai.martinezcorral@ehu.es>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <38422348+umarcor@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <eine@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <6628437+eine@users.noreply.github.com>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <1138-4EB@users.noreply.github.com>
Xiretza <xiretza@xiretza.xyz> <xiretza@xiretza.xyz>
